/*Global*/
body{
  display: flex;
  background-image: linear-gradient(
      0deg,
      hsl(240deg 12% 40%) 0%,
      hsl(240deg 11% 45%) 18%,
      hsl(240deg 10% 49%) 26%,
      hsl(240deg 9% 53%) 33%,
      hsl(240deg 7% 57%) 39%,
      hsl(240deg 7% 61%) 44%,
      hsl(240deg 6% 66%) 50%,
      hsl(240deg 5% 70%) 56%,
      hsl(240deg 5% 74%) 61%,
      hsl(240deg 3% 78%) 67%,
      hsl(240deg 1% 83%) 74%,
      hsl(240deg 1% 87%) 82%,
      hsl(0deg 0% 91%) 100%
    );
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  margin: 0;


}

/*Container*/
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

/*Header*/
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
}

.header img{
  width: 160px;
  height: 160px;
  border: 5px solid rgb(35, 37, 38);
  border-radius: 50%;
  margin: 0;
  box-sizing: border-box;
}

/*Header images*/

.header-images{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.header-images img{
  width: 45px;
  height: 45px;
  color: aquamarine;
  cursor: pointer;
}

/*Links */
.links-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}

a{
  width: 100%;
}

button{
  padding: 1.2em;
  background-color: rgb(214, 214, 241);
  font-size: 1em;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

a button:hover{
  transition: 0.7s;
  opacity: 0.5;
}


/*Footer*/
.footer{
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  bottom: 1.5em;;
  right: 0;
  left: 0;
}
